/.history/
/.env

**/.idea/
**/.vscode/
**/guidelines/
**/.history/
**/node_modules/
**/dist/
**/build/
**/.venv/
**/.env
**/.env.local
**/.env.*.local
**/.DS_Store/

**/__pychache__/
**/*.pyc
**/build/
**/dist/
**/venv/
**/.pytest_cache/
**/.mypy_cache/
**/.coverage/
**/htmlcov/
**/model_artifacts/
**/*.egg-info/
**/pip-wheel-metadata/
*.key
*.docx
*.pem

CLAUDE.md
